h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif !important;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

p {
  font-family: 'Open-sans', sans-serif !important;
}

small {
  font-family: 'Saira Extra Condensed', serif !important;
}

h1 {
  font-size: 4rem !important;
  line-height: 5.5rem;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

.img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

/* Styles go here */

.page-header, .page-header-space {
  height: 10rem;
}

.page-footer, .page-footer-space {
  height: 8rem;
}

.page-footer {
  display: none;
  padding-top: 2mm;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gray;
  z-index: 3;
  font-family: Helvetica, sans-serif;
}

.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  /* border-bottom: 1px solid gray; */
  background: white;
  z-index: 3;
}

.page {
  display: none;
  page-break-after: always !important;
}

.resume-section {
  z-index: 0;
}

.vr {
  border-right: 1px solid #ccc !important;
}

.fa.white {
  color: white;
}

.subheading {
  font-family: 'Saira Extra Condensed', serif !important;
  color: rgb(30, 30, 30);
}

@page {
  margin-top: 15mm;
  margin-bottom: 12mm;
  margin-left: 15mm;
  margin-right: 12mm;
}

@media print {
   thead {display: table-header-group;} 
   tfoot {display: table-footer-group;}
   body {margin: 0;}
   a {text-decoration: none !important;}
   .print {display: none !important;}
   .page {display: block}
   .page-footer {display: block}
}